<button class="crosssite-button">{{ section.settings.button }}</button>
{% schema %}
  {
    "name": "Cross Site Button",
    "settings": [{
        "id": "button",
        "type": "text",
        "label": "Text",
		"default":"what we are shooping now"
      }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
