<div class="sticky-nav">
    {% section 'header' %}
    {% include 'site-nav' %}
</div>
{% section 'hero' %}
{% section 'crosssite-button' %}
{% section 'product-slider-new' %}
{% section 'collection-grid' %}
{% section 'product-slider-best' %}
{% section 'images-grid' %}
{% include 'footer' %}
 