.footer {
    background-color: #d8ff4c;
    padding-bottom: 50px;
    margin-top: 35px;
    &-nav {
      padding: 0 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 25px 0;
      align-items: center;
      width: 100%;
      margin: auto;
      justify-content: space-evenly;
      @media(min-width: 900px){
          flex-direction: row;
      }
    }
    &-nav--logo {
        width:100%;
        @media(min-width: 900px){
            width: auto;
            margin-right: auto;
        }
    }
    &-nav__link {
      display: block;
      white-space: nowrap;
    }
    &-nav__label {
      border-bottom: 1px solid transparent;
    }
    &-nav__link--active {
      font-weight: bold;
    }
    &-nav__link--button {
      border: none;
      background-color: transparent;
      padding: 3px 10px;
    }
    &-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media(min-width: 900px){
        flex-direction: row;
      }
    }
  }

.newsletter {
    &__header {
        font-size: 1em;
    }
    &__subheader {
        font-size: 0.8em;
    }
    &--wrapper {
        display: flex;
        justify-content: center;
        @media(min-width: 900px){
          align-content: flex-end;justify-content: flex-end;align-items: flex-end;
        }
    }
}